
*.pptx
.vscode/settings.json
Lab03/tempCodeRunnerFile.c
.vscode/tasks.json
Lab01/main.exe
mini-project/main.exe
.vscode/launch.json
mini-project/without malloc/map_derivative.txt
mini-project/without malloc/map_integral.txt
mini-project/without malloc/derivative.txt
mini-project/without malloc/integral.txt
mini-project/without malloc/points_mapped.txt
mini-project/without malloc/points.txt
mini-project/without malloc/main.exe
mini-project/without malloc/integral.txt
mini-project/without malloc/points_mapped.txt
mini-project/without malloc/points.txt
mini-project/without malloc/derivative.txt
